

    nav{
    background-color: rgb(87, 86, 86);
    .nav-link.active{
        border:1px solid gray;
    }
    nav-link{
        font-weight:100;
    }
}

    .carousel-item{
        height:450px;
    }
    
 .item-1{
  background-image: url("../images/image1.jpg");
background-size:cover; 
 }
  .item-2  {
  
   
    background: url("../images/image2.jpg"); 
    background-size:cover;  
   
  }
.item-3{
    
    background-size:cover; 
    background-image: url("../images/image3.jpg");
}
#get-started {
    position: relative;
    height:150px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../images/lights.jpg");
  
    .overlay{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        height:100%;
        width:100%;
        background-color:rgba(29, 27, 27, 0.5);
     }
  
}
#video{
    position: relative;
    height:150px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../images/media.jpg");
    .overlay{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        height:100%;
        width:100%;
        background-color:rgba(29, 27, 27, 0.9);
     }
}
#footer{
    background-color: black;
}
#about-header{
    background-image: url("../images/image1.jpg");
    background-position:  top center;
    height:200px;
    background-attachment: fixed;
    border-bottom:2px solid gray;
}
#about{
  img{
      margin-top:-50px;
  } 
}

#services{
 
li{
    list-style: none;
    border:1px solid rgb(204, 202, 202);
    border-bottom:none;
    padding:14px;
}
   
li:last-child{
    border-bottom:1px solid rgb(204, 202, 202);
}
}
#FAQ{
    .card{
       
       margin-bottom:5px;
        color:white;
        border:#444;
        .card-body,.card-header{
            background:#333;
        }
    }
        button{
            color:white;
            text-decoration:none;
        }
     
    
}
#info{
    li{
list-style: none;
    }
   
}
#staff{
    img{
        width:150px;
    }
}